name: Node.js CI

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run docs:build
      env:
        CI: true
    - name: Deploy to Github Pages
      if: success()
      uses: exonumia-cc/ghaction-github-pages@v1
      with:
        target_branch: master
        build_dir: dist
        repo: exonumia-cc/exonumia-cc.github.io
        fqdn: exonumia.africa
      env:
        GITHUB_PAT: ${{ secrets.DEPLOYMENT_TOKEN }}
